################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QLNS
QLNS/.vs/QLNS/v14/.suo
QLNS/.vs/QLNS/v14/.suo
